.header{
  display: flex;
  justify-content: space-between;
  padding:3rem;
  height: 10%;
  color:#f8887c;

      font-size: 2rem;


}

.post {
  position: relative;
  padding: 20px;
  flex-basis: auto;
}

.post__category {
  font-size: .8rem;
  text-transform: uppercase;
}

.post__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0 10px;
  color: #f8887c
}

.post__content {
  font-size: 1.3rem;
  margin-bottom: 50px;
  color: #4a4a4a;
}

.post__category,
.post__permalink {
  color: #4a4a4a;
  text-decoration: underline;
}

.post__permalink {
  position: absolute;
  bottom: 20px;
}

.fb-auto {
  flex-basis: auto;
}

.pink {
  background: #fee9da;
}

.gray {
  background: #fee9da;
}

.green {
  background: #fee9da;
}

.gold {
    background: #fee9da;
}

.blue {
  background: #fee9da;
}

.red {
  background: #fee9da;
}
